NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_PROJECT_ID=
SUPABASE_DB_PASSWORD=
QA_OWNER_EMAIL=
QA_OWNER_PASSWORD=
QA_MEMBER_EMAIL=
QA_MEMBER_PASSWORD=
QA_PROVIDER_EMAIL=
QA_PROVIDER_PASSWORD=
QA_ADMIN_EMAIL=
QA_ADMIN_PASSWORD=
SMOKE_ARTIFACT_DIR=
